/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/khatovar-parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/bin/
/build/
/vendor/
/www/bundles/
/www/css/
/www/js/
/www/uploaded/

/Khatovar/Bundle/WebBundle/Resources/public/photos/*
!/Khatovar/Bundle/WebBundle/Resources/public/photos/logonoir.jpg
