/www/bundles/
/www/uploaded/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters-compagnie.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea
/src/Khatovar/WebBundle/Resources/public/photos/*
!/src/Khatovar/WebBundle/Resources/public/photos/logonoir.jpg
*~
