/www/bundles/
/www/uploaded/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters-compagnie.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea