{% extends "KhatovarWebBundle::layout.html.twig" %}

{% block inarticle %}
    <h2>Modifier les informations de la photo</h2>

    <div class="photo_admin float floatright">
        {{ photo.getWebPath()|thumbnail('landscape', photo.alt) }}
    </div>

    <div class="form-background">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {% embed '@KhatovarWeb/Photo/upload.html.twig' %}{% endembed %}

        {{ form_end(form) }}
    </div>
{% endblock %}
