{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h2>Liste des photos</h2>

    <div class="container">
        {% for photo in photos %}
            <div class="trombi photo_admin">
                {{ photo.getWebPath()|thumbnail('landscape', photo.alt) }}
                <br />
                <a href="{{ path('khatovar_web_photos_edit', {'photo': photo.id}) }}">
                    Éditer
                </a>
                |
                <a href="{{ path('khatovar_web_photos_delete', {'photo': photo.id}) }}">
                    Supprimer
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
