<div class="trombi">
    <div class="photo_title">Photos diponibles pour cette page</div>

    <div class="scrolling">
        {% for photo in photos %}
            <div class="photo_admin">
                {{ photo.getWebPath()|thumbnail('landscape', photo.alt) }}
                <br />
                Photo n° {{ photo.id }}
            </div>
        {% endfor %}
    </div>

    <div class="button-group">
        <a href="{{ path('khatovar_web_photos_add') }}" class="btn btn-default">
            Ajouter une photo
        </a>
        <a href="{{ path('khatovar_web_photos') }}" class="btn btn-default">
            Éditer la liste complète
        </a>
    </div>
</div>
