{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Bienvenue chez les mercenaires du Khatovar, compagnie médiévale d'Anjou (association d'Angers – Maine et Loire)</h1>
    <p>
        Nous sommes la Compagnie franche du Khatovar, <b>association loi 1901</b> réalisant
        des animations sur le thème du <b>Moyen Âge</b>. Nous comptons actuellement <b>une quinzaine de membres actifs</b>.
        La compagnie a l'habitude de se rendre dans les nombreuses fêtes médiévales et marchés médiévaux en <b>Anjou</b>.
    </p>

    <h3>Nos prestations&nbsp;?</h3>
    <p>
        Elles s'articulent <b>autour de deux pôles&nbsp;: artisanat et combat</b>. Dans les compagnies de mercenaires, comme la notre,
        ces deux aspects sont nécessaires à la survie du groupe&nbsp;: en temps de guerre, les combattants assurent
        le ravitaillement en s'engageant auprès du plus offrant, mais c'est surtout du pillage que viennent nos ressources…
        En temps de paix, aux artisans de gagner la croûte de tous. Nos compétences en la matière sont diverses&nbsp;: travail du cuir,
        maille, forge… Et avec cette maudite paix durable, les guerriers eux-mêmes doivent devenir bateleurs
        et assurer du spectacle&nbsp;!<br />
        (Pour plus de détails sur nos prestations, allez dans la section <a href="{{ path('khatovar_web_camp') }}">«&nbsp;nos prestations&nbsp;»</a>)
    </p>

    <h3>Pourquoi nous recruter pour votre manifestation&nbsp;?</h3>
    <p>
        <b>L'originalité de nos costumes</b>, qui parle à l'imaginaire de chacun, suscite un vif intérêt auprès
        des festivaliers et des touristes. Nos déambulations et nos défilés sur site attirent toujours
        le regard&nbsp;!
    </p>
    <p>
        Nous réalisons aussi des animations variées, autour du travail du cuir et de la maille, ou
        de l'initiation à la forge. Par exemple, nous proposons au public de <b>confectionner rapidement de simples
            objets</b> en cuir ou en maille. Ces ateliers drainent un public de tous âges, mais nous rencontrons un fort
        succès <b>auprès des enfants, notre public privilégié</b>. Avec nous, le public est actif et participe pleinement
        à nos animations. Passée la curiosité, bien souvent le public n'hésite pas à
        rester en notre compagnie, pour partager des moments de découvertes et d'échanges…
        Pour notre plus grand plaisir, et le leur&nbsp;!
    </p>
    <p>
        <b>
            Nous avons une palette étendue de prestations et nous pouvons l'adapter à votre demande.
            N'hésitez pas à nous contacter, avec vos idées et vos attentes, nous évaluerons
            ensemble vos besoins, afin d'y répondre au mieux&nbsp;!
        </b>
    </p>

    <div class="container">
        <div class="trombi">
            <div class="carte photo_rest"
                 onmouseover="this.className='carte photo_over';"
                 onmouseout="this.className='carte photo_rest';"
                 onclick="location.href='mailto:contact@compagniefranchedukhatovar.fr';">
                <img class="trombinoscope" src="{{ asset('bundles/khatovarweb/images/carte2013.png') }}" alt="" />
            </div>
        </div>
    </div>
{% endblock %}
