{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <p>
        <a href="http://fabri-armorum.com/" rel="external"><img src="{{ asset('bundles/khatovarweb/photos/liens/fabri.png') }}" alt=""  /></a>
    </p>

    <p>
        <a href="http://www.kovex-ars.cz/" rel="external"><img src="{{ asset('bundles/khatovarweb/photos/liens/kovex.jpg') }}" alt="" /></a>
    </p>
{% endblock %}
