{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <p>
        Vous trouverez ici toutes les fêtes médiévales où vous pourrez nous rencontrer durant la <strong>saison {{ date('+3months')|date('Y') }}</strong>.
    </p>
    <p>
        Nous mettons à jour régulièrement cette page au fur et à mesure des réponses des organisateurs.
    </p>
{% endblock %}
