{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <p>
        Vous trouverez ici toutes les fêtes médiévales où vous pourrez nous rencontrer durant la <strong>saison {{ date('+3months')|date('Y') }}</strong>.
    </p>
    <p>
        Nous mettons à jour régulièrement cette page au fur et à mesure des réponses des organisateurs.
    </p>

    <h1>
        Trolls et Légendes,Mons (Belgique), 3-4-5 avril
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81303.96922238018!2d3.9697049499999997!3d50.44577505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c24558a6578cfb%3A0x40099ab2f4d6c90!2sMons%2C+Belgique!5e0!3m2!1sfr!2sfr!4v1427823757922" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <p>
                <a href="http://www.trolls-et-legendes.be/" rel="external" title="">Le site web du festival.</a>
            </p>
            <p>
                <a href="https://www.facebook.com/trollslegendes" rel="external" title="">La page facebook du festival.</a>
            </p>
        </div>
    </div>

    <h1>
        La Baillée des Filles, Les Ponts-de-Cé (Maine-et-Loire), 13 mai
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21593.839318173676!2d-0.5110395!3d47.426960050000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4807d7add12912b5%3A0xa6125e0c41a09590!2sLes+Ponts-de-C%C3%A9!5e0!3m2!1sfr!2sfr!4v1427824093758" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <p>
                <a href="http://www.ville-lespontsdece.fr/La-Baillee-des-filles,228" rel="external" title="">L’annonce de la fête sur le site de la ville.</a>
            </p>
            <p>
                <a href="https://www.facebook.com/events/452421414911076/" rel="external" title="">La page facebook de l'événement.</a>
            </p>
        </div>
    </div>

    <h1>
        Joutes médiévales, Château de Brézé (Maine-et-Loire), 23 et 24 mai
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2712.1471731674824!2d-0.05737099999999999!3d47.174555000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4807f502f3e6fbff%3A0xd2e846efb1b0f642!2zQ2jDonRlYXUgZGUgQnLDqXrDqQ!5e0!3m2!1sfr!2sfr!4v1427824243829" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <p></p>
        </div>
    </div>

    <h1>
        Marché médiéval, Souzay-Champigny (Maine-et-Loire), 30 mai
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10836.951922627492!2d-0.0019012713662550525!3d47.23149068871489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4807f673cd115a0b%3A0x40d37521e0d8840!2sSouzay-Champigny!5e0!3m2!1sfr!2sfr!4v1427824619924" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <p></p>
        </div>
    </div>

    <h1>
        Marché médiéval, Chinon (Indre-et-Loire), 1er août
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43398.724762254395!2d0.24325549999996973!3d47.16920700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fd418161944fab%3A0x6a71743c76ccc047!2sChinon!5e0!3m2!1sfr!2sfr!4v1427824653064" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <p></p>
        </div>
    </div>
{% endblock %}
