{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% form_theme form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <a href="{{ path('contact_list') }}">Retour à la liste des pages de contact</a>
    <hr />

    <h1>Création d'une nouvelle carte de visite</h1>

    {% include 'KhatovarContactBundle:Contact:_form.html.twig' with {'form': form} %}
{% endblock %}
