{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Éditer cette page</a>
        |
        <a href="{{ path('contact_list') }}">Liste des pages de contact</a>
        <hr />
    {% endif %}

    <h1>{{ contact.title }}</h1>

    {% autoescape false %}
        {{ contact.content }}
    {% endautoescape %}
{% endblock %}
