parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: khatovar
    database_user: khatovar
    database_password: khatovar

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: darth.vador@sith.empire
    mailer_password: iamyourfather

    secret: ThisTokenIsNotSoSecretChangeIt

    khatovar_document.upload_dir: '%kernel.project_dir%/www/uploaded'
