/**
 * Specific modifications for IE 8.
 */

body {
   font-family: "Bitstream Vera Sans","Lucida Grande", sans-serif;
    font-size: 80%;
}

h1 {
    font-family: Arial, sans-serif;
}

h2 {
    font-family: Arial, sans-serif;
}

img {
    width: inherit;
}

.photo_exactions {
    display: inherit;
}

.exactions {
    width: 100%;
}

.container {
    position: inherit;
}
