{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% form_theme edit_form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <a href="{{ path('khatovar_web_exaction_to_come') }}">Retour aux autres exactions</a>
    <hr />

    <h1>Édition de l'exaction</h1>

    {% include 'KhatovarExactionBundle:Exaction:_form.html.twig' with {'form': edit_form, 'exaction_passed': exaction_passed} %}
{% endblock %}
