{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% form_theme form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <a href="{{ path('khatovar_web_exaction_to_come') }}">Retour aux autres exactions</a>
    <hr />

    <h1>Nouvelle exaction</h1>

    {% include 'KhatovarExactionBundle:Exaction:_form.html.twig' with {'form': form, 'exaction_exists': exaction_exists} %}
{% endblock %}
