header, body {
    background: #691900;
}

/* Cookie acknowledge bar */
#cookie-law-info-bar {
    background: #f5f1dc !important;
    opacity: 0.9;
    top: 0 !important;
    bottom: auto !important;
}

a, a:visited {
    color: #001723;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #936f00;
    text-decoration:none;
}

a:active {
    color: #AC3333;
    text-decoration:none;
}

header a, header a:hover, header a:active, header a:visited,
footer a, footer a:hover, footer a:active, footer a:visited,
.panel-footer {
    color: white;
}

section {
    background-color: white;
    padding: 20px;
}

aside {
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

@media all and (max-width: 991px) {
    aside {
        max-width: inherit;
    }
}

.btn {
    margin: 10px;
}

.panel-footer {
    background-color: #691900;
}

.container-fluid {
    padding: 0;
}

.page-header {
    padding: 15px;
    margin: 0;
    color: white;
}

#logo, .page-header h1 {
    display: inline-block;
    vertical-align: middle;
}

.path {
    font-size: 125%;
}

.button-inline {
    display: inline-block;
}
