{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('khatovar_web_homepage_edit', {'id': page_id}) }}">Éditer cette page</a>
        |
        <a href="{{ path('khatovar_web_homepage_new') }}">Créer une nouvelle page</a>
        |
        <a href="{{ path('khatovar_web_homepage_list') }}">Liste des pages d'accueil disponibles</a>
        <hr />
    {% endif %}

    {% autoescape false %}
        {{ content }}
    {% endautoescape %}
{% endblock %}
