{% extends "CarcelUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="well text-center">
        Désolé, aucun rôle n’a encore été attribué à votre compte.
        Vous recevrez un mail vous confirmant cette attribution dès qu’elle aura été effectuée par un administrateur.
    </div>
{% endblock %}
