/* CUSTOM FONTS */

@font-face {
    font-family: 'DarkCrystal';
    src: url('../fonts/darkcristal-webfont.eot');
    src: url('../fonts/darkcristal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/darkcristal-webfont.woff') format('woff'),
         url('../fonts/darkcristal-webfont.ttf') format('truetype'),
         url('../fonts/darkcristal-webfont.svg#DarkCrystal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kingthings_light';
    src: url('../fonts/Kingthings_Petrock_light-webfont.eot');
    src: url('../fonts/Kingthings_Petrock_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Petrock_light-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Petrock_light-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Petrock_light-webfont.svg#kingthings_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kingthings_regular';
    src: url('../fonts/Kingthings_Petrock-webfont.eot');
    src: url('../fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Petrock-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Petrock-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Petrock-webfont.svg#kingthings_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MAIN ELEMENTS */

body {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: kingthings_light, "Bitstream Vera Sans","Lucida Grande", sans-serif;
    background: url("../images/boisclair.jpg") transparent;
    font-size: 1em;
    text-align: justify;
}

.page_block {
    margin: auto;
    width: 950px;
}

@media all and (max-width: 990px) {
    body {
        margin: 10px;
        background: url("../images/scroll_center.png") transparent;
    }

    .page_block {
        width: auto;
        min-width: 320px;
    }
}

/* HEADER */

header {
    background: url("../images/header.png") transparent;
    height: 168px;
}

#main_title {
    display: none;
}

header h1 {
    font-family: DarkCrystal, Sans-serif;
    font-size: 2.5em;
    text-align: left;
}

#logo, header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#logo {
    width: 100px;
}

@media all and (max-width: 990px) {
    header {
        background: none;
        height: auto;
    }

    #main_title {
        display: inline-block;
    }
}

/* NAVIGATION */

nav {
    background: url("../images/nav.png") transparent;
    height: 58px;
    padding-top: 12px;
}

nav a.button {
    display: none;
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

nav a:hover {
    color: yellow;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

nav li {
    float: left;
}

nav li ul {
    position: absolute;
    display: none;
    padding-top: 5px;
}

nav li ul li {
    position: relative;
    float: none;
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    background: url("../images/menu.png") transparent;
    border-bottom: 1px solid white;
    z-index: 11000;
}

nav li:hover ul, nav li.sfhover ul {
    display: block;
}

@media all and (max-width: 990px) {
    nav {
        background: none;
        padding: 0;
    }

    nav li ul li {
        display: none;
    }

    nav a {
        color: #AC3333;
    }

    nav a:hover {
        color: #936f00;
    }
}

/* CORE TEXT */

section {
    padding-bottom: 20px;
    background: url("../images/scroll.png") transparent;
}

article {
    padding-left: 60px;
    padding-right: 60px;
}

aside {
    background: url("../images/scroll_center.png") transparent;
    width: 250px;
    position: fixed;
    left: 20px;
    top: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #696969;
    z-index: 2;
    -webkit-transform:translateX(-268px);
    -ms-transform:translateX(-268px);
    transform:translateX(-268px);
    transition-duration: 0.5s;
}

aside.visible {
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%);
}

.aside-link {
    transition: opacity 0.25s ease-out 0s;
    padding: 0;
    border: medium none;
    outline: 0 none;
    cursor: pointer;
    opacity: 1;
}

.aside-open {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 31px;
    height: 27px;
    z-index: 1;
    background: url("../images/aside-open.png") transparent;
}

.aside-close {
    position: relative;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background: url("../images/aside-close.gif") transparent;
}

aside .scrolling {
    position: absolute;
    bottom: 120px;
    top: 65px;
    width: 99%;
    overflow: auto;
}

aside .photo_title {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    padding: 10px;
}

article ul {
    list-style: inherit;
    margin-left: 20px;
}

@media all and (max-width: 990px) {
    section, article {
        padding: 0;
    }

    section {
        background: none;
    }

    aside {
        display: none;
    }

    .aside-link {
        display: none;
    }
}

h1 {
    font-family: kingthings_regular, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: left;
}

h2, h4 {
    font-family: kingthings_regular, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    text-align: left;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}

h4 {
    text-align: center;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

article a, footer a, aside a {
    text-decoration: none;
    font-weight: bold;
}

article a:link, footer a:link, aside a:link {color: #AC3333;}
article a:visited, footer a:visited, aside a:visited {color: #AC3333;}
article a:hover, footer a:hover, aside a:hover {color: #936f00;}
article a:active, footer a:active, aside a:active {color: #AC3333;}

/* ARTICLES LAYOUT */

.container {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.link_list {
    padding: 20px 0 20px 0;
    text-align: center;
}

.flex-container, .flex-container-always {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
}

.navigation, .programmation, .exactions, .note_exaction {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.navigation {
    width: 33%;
}

.nav-left {
    text-align: left;
}

.nav-center {
    text-align: center;
}

.nav-right {
    text-align: right;
}

.programmation {
    text-align: justify;
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
}

.exactions {
    text-align: justify;
    width: 60%;
}

.note_exaction {
    text-align: justify;
    width: 80%;
}

.photo_exactions {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.photo_link {
    position: relative;
    top: 150px;
    left: 300px;
}

@media all and (max-width: 990px) {
    .flex-container, .programmation, .photo_exactions, .exactions, .note_exaction {
        display: inherit;
    }

    .programmation {
        margin: 0;
        width: 100%;
    }

    .photo_exactions, .exactions {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .note_exaction, .exactions {
        text-align: center;
        width: 100%;
    }

    .note_exaction {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .photo_link, .container {
        position: inherit;
    }
}

/* FOOTER */

footer {
    height: 144px;
    background-image: url("../images/scroll_foot.png");
    text-align: center;
}

.footer-text {
    padding-top: 40px;
}

.copyright {
    font-family: "Bitstream Vera Sans","Lucida Grande", sans-serif;
}

@media all and (max-width: 990px) {
    footer {
        background: none;
    }
}

/* PICTURES */

*.clickable {
    cursor: pointer;
}

img {
    border: 0;
    width: 100%;
}

aside img {
    width: 150px;
}

article img {
    margin: 10px;
}

.photolink {
    width: 50px;
}

.photo_rest {
    border: 2px #777 solid;
}

.photo_over {
    border: 2px #AC3333 solid;
}

.photo, .slide, .photo_small, .panorama {
    text-align: center;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px;
}

.photo {
    max-width: 250px;
}

.slide {
    width: auto;
    max-width: 450px;
    max-height: 300px;
}

.photo_small {
    max-width: 200px;
}

.panorama {
    max-width: 700px;
}

.float {
    margin-right: 10px;
    margin-left: 10px;
    width: inherit;
    max-width: 220px;
    max-height: 220px;
    text-align: center;
    padding: 2px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.trombi, .aside-photo {
    text-align: center;
    vertical-align: middle;
}

.trombi {
    display: inline-block;
}

.trombinoscope {
    margin: 0;
}

.thumbnail, .thumbnail_link
{
    padding: 5px;
    cursor:auto;
    text-align: center;
}

.thumbnail_link {
    margin: 20px;
}

.portrait {
    width: 100px;
}

.landscape {
    width: 150px;
}

.carte {
    text-align: center;
    padding: 2px;
    cursor:auto;
    max-width: 750px;
}

.photo_admin {
    margin: 15px 5px 15px 5px;
}

@media all and (max-width: 990px) {
    img {
        width: 100%;
    }

    .slide {
        max-width: 360px;
        max-height: 240px;
    }
}

/* FORMS */

.form-group {
    display: table;
    content: " ";
    margin: 15px 0 15px;
    vertical-align: middle;
}

.form-textarea {
    width: 100%;
}

.form-element {
    display: table;
}

.form-background {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background: #f5f1dc repeat-x linear-gradient(to bottom, #e8e4cf 0%, #f5f1dc 100%);
    border: 1px solid #cdc9b4;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.06);
}

textarea {
    width: 100%;
    height: 250px;
}

/* BUTTONS */
/* Mostly from Bootstrap 3.2 */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-image: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
          box-shadow: none;
    opacity: .65;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #333;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
}
.btn-default:disabled,
.btn-default[disabled] {
    background-color: #e0e0e0;
    background-image: none;
}

.button-group {
    margin: 10px;
    text-align: center;
}

aside .button-group {
    position: absolute;
    bottom: 0;
}

aside .btn {
    margin: 5px 0 5px;
    width: 80%;
}

a:link.btn, a:visited.btn, a:hover.btn, a:active.btn {
    color: #333;
}
