/* CUSTOM FONTS */

@font-face {
    font-family: 'DarkCrystal';
    src: url('../fonts/darkcristal-webfont.eot');
    src: url('../fonts/darkcristal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/darkcristal-webfont.woff') format('woff'),
         url('../fonts/darkcristal-webfont.ttf') format('truetype'),
         url('../fonts/darkcristal-webfont.svg#DarkCrystal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kingthings_light';
    src: url('../fonts/Kingthings_Petrock_light-webfont.eot');
    src: url('../fonts/Kingthings_Petrock_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Petrock_light-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Petrock_light-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Petrock_light-webfont.svg#kingthings_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kingthings_regular';
    src: url('../fonts/Kingthings_Petrock-webfont.eot');
    src: url('../fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Petrock-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Petrock-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Petrock-webfont.svg#kingthings_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MAIN ELEMENTS */

body {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: kingthings_light, "Bitstream Vera Sans","Lucida Grande", sans-serif;
    background: url("../images/boisclair.jpg");
    font-size: 100%;
    text-align: justify;
}

.page_block {
    margin: auto;
    width: 950px;
}

@media all and (max-width: 990px) {
    body {
        margin: 10px;
        background: url("../images/scroll_center.png");
    }

    .page_block {
        width: auto;
        min-width: 320px;
    }
}

/* HEADER */

header {
    background: url("../images/header.png");
    height: 168px;
}

#main_title {
    display: none;
}

header h1 {
    font-family: DarkCrystal, Sans-serif;
    font-size: 2.5em;
    text-align: left;
}

#logo, header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#logo {
    width: 100px;
}

@media all and (max-width: 990px) {
    header {
        background: none;
        height: auto;
    }

    #main_title {
        display: inline-block;
    }
}

/* NAVIGATION */

nav {
    background: url("../images/nav.png");
    height: 70px;
}

nav a.button {
    display: none;
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

nav a:hover {
    color: yellow;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding-top: 8px;
}

nav li {
    float: left;
}

nav li ul {
    position: absolute;
    display: none;
}

nav li ul li {
    position: relative;
    top: 5px;
    float: none;
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    background: url("../images/menu.png");
    border-bottom: 1px solid white;
    z-index: 11000;
}

nav li:hover ul, nav li.sfhover ul {
    display: block;
}

@media all and (max-width: 990px) {
    nav {
        background: none;
        padding: 0;
    }

    nav li ul li {
        display: none;
    }

    nav a {
        color: #AC3333;
    }

    nav a:hover {
        color: #936f00;
    }
}

/* CORE TEXT */

section {
    padding-bottom: 20px;
    background: url("../images/scroll.png");
}

article {
    padding-left: 60px;
    padding-right: 60px;
}

aside.edit {
    background: url("../images/scroll_center.png");
    padding: 10px;
    width: 250px;
    height: 500px;
    position: fixed;
    left: 20px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #696969;
}

aside.photo_title {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

article ul {
    list-style: inherit;
    margin-left: 20px;
}

@media all and (max-width: 990px) {
    section, article {
        padding: 0;
    }

    section {
        background: none;
    }

    aside {
        display: none;
    }
}

h1 {
    font-family: kingthings_regular, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 1em;
}

h2 {
    font-family: kingthings_regular, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

article a, footer a {
    text-decoration: none;
    font-weight: bold;
}

article a:link, footer a:link {color: #AC3333;}
article a:visited, footer a:visited {color: #AC3333;}
article a:hover, footer a:hover {color: #936f00;}
article a:active, footer a:active {color: #AC3333;}

/* ARTICLES LAYOUT */

.container {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.link_list {
    padding: 20px 0 20px 0;
    text-align: center;
}

.flex-container, .flex-container-always {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
}

.navigation, .programmation, .exactions, .note_exaction {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.navigation {
    width: 33%;
}

.nav-left {
    text-align: left;
}

.nav-center {
    text-align: center;
}

.nav-right {
    text-align: right;
}

.programmation {
    text-align: justify;
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
}

.exactions {
    text-align: justify;
    width: 60%;
}

.note_exaction {
    text-align: justify;
    width: 80%;
}

.photo_exactions {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.photo_link {
    position: relative;
    top: 150px;
    left: 300px;
}

@media all and (max-width: 990px) {
    .flex-container, .programmation, .photo_exactions, .exactions, .note_exaction {
        display: inherit;
    }

    .programmation {
        margin: 0;
        width: 100%;
    }

    .photo_exactions, .exactions {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .note_exaction, .exactions {
        text-align: center;
        width: 100%;
    }

    .note_exaction {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .photo_link, .container {
        position: inherit;
    }
}

/* FOOTER */

footer {
    height: 144px;
    background-image: url("../images/scroll_foot.png");
    text-align: center;
}

.footer-text {
    padding-top: 40px;
}

.copyright {
    font-family: "Bitstream Vera Sans","Lucida Grande", sans-serif;
}

@media all and (max-width: 990px) {
    footer {
        background: none;
    }
}

/* PICTURES */

*.clickable {
    cursor: pointer;
}

img {
    border: 0;
    width: 100%;
}

article img {
    margin: 10px;
}

.photolink {
    width: 50px;
}

.photo_rest {
    border: 2px #777 solid;
}

.photo_over {
    border: 2px #AC3333 solid;
}

.photo, .slide, .photo_small, .panorama {
    text-align: center;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px;
}

.photo {
    max-width: 250px;
}

.slide {
    width: auto;
    max-width: 450px;
    max-height: 300px;
}

.photo_small {
    max-width: 200px;
}

.panorama {
    max-width: 700px;
}

.float {
    margin-right: 10px;
    margin-left: 10px;
    width: inherit;
    max-width: 220px;
    max-height: 220px;
    text-align: center;
    padding: 2px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.trombi {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.trombinoscope {
    margin: 0;
}

.thumbnail
{
    margin: 20px;
    padding: 5px;
    cursor:auto;
    text-align: center;
}

.portrait {
    width: 100px;
}

.landscape {
    width: 150px;
}

.carte {
    text-align: center;
    padding: 2px;
    cursor:auto;
    max-width: 750px;
}

@media all and (max-width: 990px) {
    img {
        width: 100%;
    }

    .slide {
        max-width: 360px;
        max-height: 240px;
    }
}
