{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h2>Suppression d\'une photo</h2>

    <p>Êtes-vous certain de vouloir supprimer la page de membre « {{ member.name }} » ?</p>

    <div class="form-background">

        <form action="{{ path('khatovar_web_members_remove', {'member': member.id}) }}"
              method="post"
              class="button-group"
              id="form">

            <input type="submit" value="Supprimer" class="btn btn-default" />
            <a href="{{ path('khatovar_web_members') }}" class="btn btn-default">
                Annuler
            </a>

            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}
