{% extends "KhatovarDocumentsBundle::layout.html.twig" %}

{% block insection %}

    {% if previousId %}
        {% set href_link = path('khatovar_documents_folder', {'id': previousId}) %}
    {% else %}
        {% set href_link = path('khatovar_documents_homepage') %}
    {% endif %}

    <a href="{{ href_link }}"
       class="btn btn-default pull-right">
        {{ 'khatovar_documents.button.back'|trans }}
    </a>

    <h2>{{ 'khatovar_documents.rename.folder.title'|trans }}</h2>

    {% include "KhatovarDocumentsBundle:Common:_form_name.html.twig" %}

{% endblock %}
