{% extends "CarcelDocumentsBundle::layout.html.twig" %}

{% block insection %}

    <a href="{{ path('carcel_documents_homepage', {'folder': file.folder.id}) }}"
       class="btn btn-default pull-right">
        Retour
    </a>

    <h2>Supprimer un fichier</h2>

    <p>Êtes-vous certain de vouloir supprimer le fichier « {{ file.name }} »</p>

    <div class="well">
        <form action="{{ path('carcel_documents_remove_file', {'file': file.id}) }}" method="post">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}
