{% extends "CarcelDocumentsBundle::layout.html.twig" %}

{% block insection %}

    <a href="{{ path('carcel_documents_homepage', {'folder': folder.parent.id}) }}"
       class="btn btn-default pull-right">
        Retour
    </a>

    <h2>Supprimer un Dossier</h2>

    <p>Êtes-vous certain de vouloir supprimer le dossier « {{ folder.name }} » ?</p>

    <div class="well">
        <form action="{{ path('carcel_documents_remove_folder', {'folder': folder.id}) }}" method="post">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}
