{% extends "CarcelUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <a href="{{ path('carcel_user_admin') }}"
       class="btn btn-default pull-right">
        Retour
    </a>

    <h2>Suppression de l’utilisateur {{ user.username }}</h2>

    <p>Êtes-vous certain de vouloir supprimer cet utilisateur ?</p>

    <div class="well">
        <form action="{{ path('carcel_user_admin_remove', {'user': user.id}) }}" method="post">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}
