{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <div style="text-align:center; font-weight: bold;">
        <a href="{{ path('khatovar_web_appearance_camp') }}" title="Notre campement">Notre campement</a>
        –
        <a href="{{ path('khatovar_web_member') }}" title="Les membres">Les membres de notre compagnie</a>
    </div>
{% endblock %}
