{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% form_theme edit_form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <a href="{{ path('khatovar_web_appearance') }}">Retour à la liste des prestation</a>
    <hr />

    <h1>Édition de la prestation</h1>

    {% include 'KhatovarAppearanceBundle:Appearance:_form.html.twig' with {'form': edit_form} %}
{% endblock %}
