{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Appearance creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('khatovar_web_appearance') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
