{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <div class="container">
        <div class="trombi">
            <div class="thumbnail_pays"
                 onmouseover="this.className='thumbnailover_pays';"
                 onmouseout="this.className='thumbnail_pays';"
                 onclick="location.href='{{ path('khatovar_web_links', {'contact': 'contact'}) }}';">
                <img class="trombinoscope" src="{{ asset('bundles/khatovarweb/images/carte2013.png') }}" alt="Qui-sommes-nous ?" /><br />
                Qui-sommes-nous ?
            </div>
        </div>
        <div class="trombi">
            <div class="thumbnail_pays"
                 onmouseover="this.className='thumbnailover_pays';"
                 onmouseout="this.className='thumbnail_pays';"
                 onclick="location.href='{{ path('khatovar_web_links', {'contact': 'allies'}) }}';">
                <img class="trombinoscope" src="http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831132832-d7f15b0a.jpg" alt="Nos alliés" /><br />
                Nos alliés
            </div>
        </div>
        <div class="trombi">
            <div class="thumbnail_pays"
                 onmouseover="this.className='thumbnailover_pays';"
                 onmouseout="this.className='thumbnail_pays';"
                 onclick="location.href='{{ path('khatovar_web_links', {'contact': 'fournisseurs'}) }}';">
                <img class="trombinoscope" src="http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110506-12a13449.jpg" alt="Nos fournisseurs" /><br />
                Nos fournisseurs
            </div>
        </div>
    </div>
{% endblock %}
