{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <h1>Nos alliés</h1>

    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/liens/lefougueux2.jpg')|popup_picture('photo_small') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <h2>Le Fou Gueux</h2>
            <p>
                Rencontré à la fête médiévale de Provins en 2008, retrouvé chez nous en 2009 à la baillée des filles, Le Fou-Geux nous a surpris par sa grande répartie,
                son humour farceur et sa spontanéité. Les blagues foisonnent, les grimaces s’enchaînent…
            </p>
            <p>
                Quelques minutes passées en sa compagnie, à parler avec lui, nous ont fait découvrir un homme accessible, modeste et toujours rieur.
            </p>
            <p>
                <a href="http://www.le-fou-gueux.com/" rel="external">http://www.le-fou-gueux.com</a>
            </p>
        </div>
    </div>

    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/liens/minasnaoned.jpg')|popup_picture('photo_small') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <h2>Minas Naoned</h2>
            <p>
                Compagnie médiévale composée de jeunes gens de tout horizon. Motivés, mobiles, ils rayonnent dans tous les pays de la Loire.
                d’un accès facile, sans prise de tête, nous avons la même recherche sur nos projets d’animations, à savoir nous nous
                adressons de préférence à un jeune public. Malgré cela, nos animations complémentaires nous ont permis de collaborer
                en synergie et avec succès sur certaines fêtes médiévales, comme celle de Saint Denis d’Anjou en 2009.
            </p>
            <p>
                <a href="http://minasnaoned.e-monsite.com/" rel="external">http://minasnaoned.e-monsite.com</a>
            </p>
        </div>
    </div>

    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/liens/dragdis.jpg')|popup_picture('photo_small') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <h2>Le Phénix et l'Hermine (anciennement Drag-Dis)</h2>
            <p>
                Chaleureux et serviables, ces jeunes gens savent s’inscrire dans un partage de talents et de compétences quand ils intègrent d’autres
                compagnies. Ils ont fini par créer leur propre Compagnie.
            </p>
            <p>
                <a href="http://www.phenixethermine.com" rel="external">http://www.phenixethermine.com</a>
            </p>
        </div>
    </div>

    <div class="container flex-container">
        <div class="photo_exactions">
            {% autoescape false %}
            {{ asset('bundles/khatovarweb/photos/liens/equi-moses.jpg')|popup_picture('photo_small') }}
            {% endautoescape %}
        </div>
        <div class="exactions">
            <h2>Equi-moses</h2>
            <p>
                Troupe mettant en scène un spectacle équestre humoristique. Ils sont simples et accessibles. Travailler avec eux a été une opportunité agréable de découvrir
                leur compagnie dans la bonne humeur mais aussi le sérieux.
            </p>
            <p>
                <a href="http://latroupedesequimoses.e-monsite.com/" rel="external">http://latroupedesequimoses.e-monsite.com/</a>
            </p>
        </div>
    </div>
{% endblock %}
