{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Matos
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122834-2bafdde4.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    Combattant
{% endblock %}

{% block member_citation %}
    uoi&nbsp;? Non mais là, tout de suite, maintenant&nbsp;?
{% endblock %}

{% block member_skill %}
    Manger, boire, dormir
{% endblock %}

{% block member_age %}
    varie selon le moment de la journée et le dégré d’alcool
{% endblock %}

{% block member_size %}
    et ta sœur&nbsp;?
{% endblock %}

{% block member_weight %}
    lourd, très lourd, limite chiant
{% endblock %}

{% block member_strongness %}
    cuites, peut dormir sur les murets
{% endblock %}

{% block member_weakness %}
    le matin
{% endblock %}

{% block member_album %}28{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824130720-5a39c817.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Ne vous fiez pas aux apparences. Si d’aventure, vous apercevez une personne blonde, plutôt mince, plutôt petite, ne croyez pas qu’il s’agit d’une femme. Le jeune Matos prendrait fort mal votre méprise. Seuls les plus puissants de la compagnie (le barbare, les chevaliers, la sorcière quand elle est d’humeur suicidaire) osent l’appeler «&nbsp;Martine&nbsp;».
    </p>
    <p>
        Ne faites pas non plus l’erreur de le sous-estimer. Il pourrait vous en cuire. Seuls les plus puissants, etc. osent l’appeler «&nbsp;Matos&nbsp;», car comme dit le barbare, «&nbsp;Faut pas abîmer le matériel&nbsp;». Cela dit, si vous avez l’audace de vous en prendre à Matos, VOUS risquez de le regretter.
    </p>
    <p>
        Sous une apparence faussement inoffensive se cache l’un des meilleurs combattants de la compagnie, peut-être même le deuxième meilleur, concède parfois le maître d’armes après quelques cornes de bière.
    </p>
    <p>
        Matos c’est aussi et surtout une volonté à toute épreuve, un gamin qui s’est hissé au rang de chevalier à la force du poignet. La première fois qu’il est apparu dans la compagnie, il était tout jeunot, un gosse des rues comme il en existe dans toutes les villes.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831130549-4c232d9b.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Il servait de messager au capitaine. Et quand la compagnie fut accusée de haute trahison (accusation infondée, bien sûr), il ne réfléchit même pas : plutôt que de risquer la corde, il s’enfuit avec les mercenaires, caché dans une malle du capitaine.
    </p>
    <p>
        Lorsqu’il fut découvert, sa présence ne posa aucun problème. Il servirait de larbin à tout le monde, voilà tout, décidèrent de concert le capitaine et le barbare.
    </p>
    <p>
        Mais à force de corvées (transport de malle, de tentes, toutes choses forcément «&nbsp;légères&nbsp;»), il prit beaucoup de force. L’adolescence arrivant, il devint même un brin teigneux. Et un jour que le capitaine lui parla mal, Matos prit une épée et lui infligea quelques coups bien sentis qui laissèrent tout le monde pantois et firent hurler de rire le barbare.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831131213-c692c1e3.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Ce fameux combat, le capitaine finit par l’emporter. Mais le petit avait pris du galon, c’était indéniable. De larbin, il devenait écuyer. Il put désormais manier les armes, en plus de les transporter. Au fil des entraînements, il progressa rapidement.
    </p>
    <p>
        Il obtint même le droit de remplacer les combattants encore trop éméchés de la veille, certains jours de bataille. Après deux ans de ce traitement sans nom, auquel il survécut, preuve de sa ténacité, il a bel et bien gagné ses galons de chevaliers.
    </p>
    <p>
        Mais, trace sans doute indélébile de ses années de quasi-esclavage, il continue de faire le porteur et d’aider qui le souhaite, à la satisfaction générale. En attendant, sans doute, de lui trouver un remplaçant de corvée… Des volontaires&nbsp;?
    </p>
{% endblock %}
