{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Mimi, la prêtresse
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122842-b6e36349.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    frangine du capitaine et soit-disant prêtresse
{% endblock %}

{% block member_citation %}
    Zut, mon verre est vide&nbsp;!
{% endblock %}

{% block member_skill %}
    Aide de camp et sorts en tout genre&nbsp;: Sort Tea, Sort Riz, Sort Bée, Sort Scier, Sort Go, Sort Bonne, Sort Did, Sort Cosy, Sort Net…
{% endblock %}

{% block member_age %}
    des années… Non&nbsp;! Des centaines d'années… Non&nbsp;! Des millénaires de sagesse et de pouvoir afin de conquérir le monde&nbsp;!
{% endblock %}

{% block member_size %}
    petite mais costaude&nbsp;! Attention&nbsp;! Ça mord et ça envoie des boules de feu
{% endblock %}

{% block member_weight %}
    lu&nbsp;!
{% endblock %}

{% block member_strongness %}
    d’apparence douce et inoffensive, n’a peur ni du Barbare, ni du Capitaine, ni des autres bêtes à poils
{% endblock %}

{% block member_weakness %}
    si vous ne voulez pas vous prendre une beigne, ne pas lui parler le matin, ne pas lui reparler le matin, ne pas lui re-reparl… PAF&nbsp;!
{% endblock %}

{% block member_album %}49{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831124240-c43942b2.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        C’était une journée comme les autres ou presque pour nos mercenaires. Déçus dès le réveil et comme tous les matins d’apprendre que le Royaume
        vivait toujours en paix, ils avaient vaqué à leurs occupations habituelles&nbsp;: manger, boire, échafauder des rêves de gloire et des plans
        irréalisables. Après quelques litres de bière ingurgités, les esprits commençaient à s’échauffer et les plus ardents guerriers envisageaient sans
        déplaisir une bagarre générale. Le capitaine lui-même s’apprêtait à écraser sa chopine (vide évidemment) sur la tête du Barbare, quand il fut
        interrompu par un inopportun et strident «&nbsp;Non, mais t’es malade&nbsp;???&nbsp;»
    </p>
    <p>
        Choqué de cette interruption, le capitaine chercha immédiatement des yeux sa chère et tendre Blanche… qui fut immédiatement mise hors de cause,
        trop occupée à se crêper les cheveux avec Arnica et Luminou. «&nbsp;Je vois qu’on s’amuse bien ici&nbsp;!&nbsp;» repris la voix, d’un ton
        franchement autoritaire et vaguement menaçant. Désormais la compagnie parvenait à distinguer une vague silhouette, sans toutefois l’identifier.
        «&nbsp;Apparemment on a oublié de me compter parmi les convives… Comment ça s’fait qu’j’ai pas de verre moi&nbsp;???&nbsp;»
    </p>
    <p>    Un peu gênés, nos mercenaires cherchèrent à reprendre une contenance crédible, sauf le Barbare («&nbsp;C’est toujours quand ça devient marrant
        qu’on s’arrête&nbsp;»)… Blanche eut même la présence d’esprit de tendre le verre demandé à leur visiteur. Qui s’avéra être une visiteuse. De taille
        moyenne, indéniablement féminine et dotée de belles rondeurs, elle était vêtue d’une robe de lin et d’une cape en fourrure. À sa ceinture pendaient
        des sachets de cuir rebondis. Dans sa main droite, elle tenait un bâton de bois torsadé orné de plumes et de feuilles.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122934-20a0cde5.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Ayant avalé d’un trait le contenu de son gobelet, la jeune femme afficha un franc sourire. «&nbsp;Je me présente, je suis Mimi… Ça fait très
        longtemps que je suis sur vos traces. Je suis la sœur du Capitaine, et je m’ennuie terriblement depuis qu’il a quitté notre village. À force
        d’entendre parler de vos exploits, j’ai eu envie de me joindre à vous, alors me voilà. Je précise que j’ai parcouru des milliers de kilomètres,
        affronté des bandits, traversé des océans, des déserts et…&nbsp;»
    </p>
    <p>
        «&nbsp;Mouaif… Admettons. Mais sache qu’ici on n’accepte pas n’importe qui, interrompit le Barbare. Tu dois prouver ton utilité pour le groupe,
        avoir un talent qui te distingue… Tu sais faire quoi au juste ?&nbsp;» «&nbsp;Je suis une grande connaisseuse des plantes et spécialement des
        fleurs&nbsp;», annonça-t-elle avec fierté. «&nbsp;C’est tout ?&nbsp;» s’indigna le Barbare. «&nbsp;Mais on en a déjà deux qui savent faire
        ça&nbsp;! Rien d’autre ?&nbsp;» «&nbsp;Si, et je te le montrerai avec plaisir, répartit Mimi. Mais je crains que tu n’apprécies guère les
        effets… Avec mes pouvoirs de prêtresse, je peux tout simplement te détruire sur place.&nbsp;»
    </p>
    <p>
        «&nbsp;J’y crois pas&nbsp;», fut la seule réponse du Barbare. Ce fut alors que, hasard d’une météo orageuse depuis le début de la journée ou
        talent extraordinaire, un éclair d’une grande puissance vint frapper le sol à ses pieds. «&nbsp;Je crois que tu as compris&nbsp;» glissa Mimi
        avec un remarquable sens de l’à-propos. «&nbsp;OK, OK, fit le Barbare, un peu ébranlé. On va peut-être éviter de se mettre à dos les dieux&nbsp;».
        «&nbsp;Et le Capitaine&nbsp;» ajouta Blanche, qui connaissait l’affection de son amant pour sa sœur. Cet avis partagé par l’ensemble de la
        Compagnie, l’arrivée d’Mimi fut aussitôt actée et approuvée autour d’un festin, bien arrosé comme il se doit.
    </p>
{% endblock %}
