{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Goût-de-fût, le chevalier déchu et sa famille
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831125125-bacc29c7.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    Chevalier
{% endblock %}

{% block member_citation %}

{% endblock %}

{% block member_skill %}

{% endblock %}

{% block member_age %}

{% endblock %}

{% block member_size %}

{% endblock %}

{% block member_weight %}

{% endblock %}

{% block member_strongness %}

{% endblock %}

{% block member_weakness %}

{% endblock %}

{% block member_album %}23{% endblock %}

{% block member_story %}
    <p>
        Les histoires précédentes ne doivent surtout pas leurrer le lecteur&nbsp;: la Compagnie Noire
        compte tout de même un chevalier digne de ce nom. Ou presque. Elle en est très fière et l’exhibe
        partout comme un immense trophée (2m de haut environ). Il y a de quoi&nbsp;: ce chevalier noble
        et preux connut une vie tout à fait comme il faut, du moins… mais ne nous avançons pas trop.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/09/02/20110902113634-0941218d.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Ce chevalier, disais-je, surnommé Goût-de-fût, est né dans une famille de la noblesse la plus
        prestigieuse. À ce titre, il fut un bébé surprotégé, un enfant gâté, un adolescent à qui on passait
        tous ses caprices, et bientôt un chevalier. Il en reçut toute l’éducation&nbsp;: stratégie, maniement
        des armes, équitation, port de l’armure (vu le poids de l’armure familiale, son port nécessitait à
        lui tout seul toute une formation). Quand il en fut digne, il fut adoubé en grande pompe lors d’une
        cérémonie magnifique qui fit s’extasier sa mère (c'est mon grand fils qui est chevalier,
        whaaaaaa&nbsp;!) et pleurer son père (de fierté bien sûr).
    </p>
    <p>
        Mais au fond, tout ce cirque laissait Goût-de-fût parfaitement de marbre. Il s’acquittait de tout cela
        au plus vite, pour rejoindre autant que faire se pouvait son amante chérie, la femme de sa vie, la
        douce Émilie. Il en avait déjà deux filles, et espérait un fils, comme tout chevalier qui se respecte.
        Seul hic&nbsp;: Émilie était roturière. La famille de notre noble chevalier devait donc tout ignorer de
        leur liaison, elle n’aurait pas supporté de voir le dernier héritier du nom se compromettre avec une
        pauvresse.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831121450-c0e60be6.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Cette situation devenait franchement difficile pour Goût-de-fût&nbsp;: il devait jongler constamment
        entre sa famille et les exigences d’Émilie («&nbsp;Quand est-ce que tu me présentes à tes parents,
        Amour&nbsp;?&nbsp;» conformément à une obscure promesse qu’il lui avait faite une soirée trop arrosée). Un
        beau jour, le pot aux roses fut découvert. Émilie fut renvoyée et le chevalier marié à une vieille
        comtesse un peu sourde et très riche, pour faire oublier le scandale. Pour échapper à ce sort peu
        enviable, Goût-de-fût, qui tenait tout de même beaucoup à Émilie, et ne supportait plus son acariâtre
        femme, s’enfuit et intégra sans problème la Compagnie, en racontant ses nombreux malheurs à Limite et au
        barbare, eux-mêmes aux prises avec des femmes obstinées et indociles. Ses connaissances en armes firent
        du bien, et toute sa famille put rester à la Compagnie, au grand dam du Barbare&nbsp;: le groupe compte déjà
        beaucoup trop d’enfants à son goût.
    </p>
{% endblock %}
