{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Contre-Poids, le viking
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ asset('bundles/khatovarweb/photos/trombi/marc.jpg')|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    guerrier
{% endblock %}

{% block member_citation %}
    J’m’en bats les cou*****&nbsp;!
{% endblock %}

{% block member_skill %}
    sieste, mangeage de jambon, effrayage d’enfant, et c’est déjà pas si mal
{% endblock %}

{% block member_age %}
    d’la mer** !
{% endblock %}

{% block member_size %}
    je suis petit et je t’emmer**&nbsp;!
{% endblock %}

{% block member_weight %}
    avec ou sans jambon&nbsp;?
{% endblock %}

{% block member_strongness %}
    destruction massive
{% endblock %}

{% block member_weakness %}
    reconstruction
{% endblock %}

{% block member_album %}0{% endblock %}

{% block member_story %}
    <p>
        Loin, très loin dans le Nordland, existent des terres dont on n’ose pas évoquer le nom. Là où les nuits durent plusieurs lunes, où les hivers sont rudes et où habitent des hommes fiers et redoutables&nbsp;; de merveilleux marins et de hardis guerriers à ce qu’on raconte&nbsp;! Celui-ci en est un, ou en tout c’est ce qu’il prétend&nbsp;; on l’appelle Dùnadan ou contrepoids. Fils de Rina Sigfred et de Halfdan, dans notre langue ce nom signifie «&nbsp;le demi-danois&nbsp;»&nbsp;: ce qui justifie probablement la petite taille de notre ami.
    </p>
    <p>
        Né dans un pays aux monts escarpés et brumeux, dans une fermette au bord d’un lac gelé entourée de pins gémissant par le vent dans la nuit d’hivers, il ne vit point le jour, mais la nuit durant les huit premiers mois de son existence. Habitué à vivre avec un feu de bois, des peaux sur le dos et à manger les poissons que péchait son père. Mais ses parents désiraient un meilleur avenir pour leur fils que dans ses contrées hostiles.
    </p>
    <p>
        Durant la saison d’été (où régnaient tout de même des températures de -5&nbsp;°C à 10&nbsp;°C), la famille déménagea dans des terres plus riches et plus accueillantes pour le petit marmot. Ils s’installèrent à Hedeby grande ville portuaire de l’ancien Danemark, après avoir parcourues 800 milles en moins de 2 mois&nbsp;; là ils étaient sous la protection du Jarl Olaf Legros. Halfdan, le père devint ouvrier sur un chantier de construction de bateau, la femme s’occupait de la propriété. Les années passèrent, désormais Dùnadan était un jeune homme, il eut appris la science des runes, la chasse, le combat, les édifiantes légendes de son peuple et le travail du cuir, notamment des bracelets en un tressage mystérieux sans fin ni début (la légende fait le lien entre ce bracelet et l’arbre du monde Yggdrasil comparant le chevauchement des tresses à l’entrelacs des racines de l’arbre le plus grand du monde qui soutient la voûte céleste et donc l’intégralité du monde), ce bracelet apporterait grand pouvoir a qui le porte.
    </p>
    <p>
        Ainsi tout allait bien jusqu’à ce que viennent le temps des raids vers des contrées inconnues, son père en fit partit et n’en revint jamais, la mère mourut de chagrin et peu de temps après il fut lui aussi obligé de partir pour soi disant renforcé les troupes en difficultés qui, disons-le nous, sont vouées à la mort, mais rien ne le retenait plus sur ces terres, c’est alors qu’il partit&nbsp;! Mais il n’entendait pas mourir de si tôt, cette cause il ne la soutenait guère et ce n’est pas cela qui allait faire revenir son père. Il débarqua bien en Normandie, mais faussa compagnie à ses camarades, il marcha pendant des milles et des milles, lui-même ne savait où il allait, mais il y allait&nbsp;!
    </p>
    <p>
        Trois mois après sa désertion, il vaguait, saignant tous les chrétiens et bandits sur sa route pour venger son père qui doit aujourd’hui boire en compagnie des dieux au Walhalla. Jusqu’à ce jour où il s’arrêta dans une taverne qu’il avait sentie de loin, il paya avec l’or des chrétiens qu’il avait rencontré en chemin. Il s’assit à une table où à l’autre bout se trouvait une bande de soiffards déjà là depuis un moment de son propre jugement plutôt rapide. Une fois qu’il fut repût, il se leva du banc où il était assis ce qui fût une mauvaise idée puisqu’à l’autre bout du banc se trouvait deux jeunes femmes, en tout cas ce qui y ressemblait après quelques cornes. L’effet «&nbsp;contrepoids&nbsp;» les fit tomber à la renverse l’une sur l’autre. Ni une, ni deux il saisit sa hache, s’attendant à une réaction des autres personnes, mais rien ne vînt ils étaient tous trop saoul pour réagir. Il lui offrir plutôt une choppe justifiant qu’il les avait débarrassés de quelques «&nbsp;viandes&nbsp;» trop saoules.
    </p>
    <p>
        De là il fît connaissance avec des mercenaires de ceux qui étaient encore debout. Ces mercenaires étaient de la compagnie franche du Khatovar, le nom de la compagnie plus bien a Dùnadan qui l’intégra, désormais il vit avec le nom tout trouvé de «&nbsp;contrepoids&nbsp;».
    </p>
{% endblock %}
