{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Blanche
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122849-0fc0696f.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    Matrone
{% endblock %}

{% block member_citation %}
    Touche pas aux gâteaux&nbsp;!
{% endblock %}

{% block member_skill %}
    cuisine, plantes, réparation des cotes de mailles, s’occuper des autres
{% endblock %}

{% block member_age %}
    il change tous les ans…
{% endblock %}

{% block member_size %}
    1m62 et demi&nbsp;!
{% endblock %}

{% block member_weight %}
    tout en rondeurs
{% endblock %}

{% block member_strongness %}
    la logique
{% endblock %}

{% block member_weakness %}
    grognon quand je suis fatiguée (remède&nbsp;: un bon rhum&nbsp;!)
{% endblock %}

{% block member_album %}26{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122857-c59ec1ed.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Depuis son plus jeune âge, Blanche éprouve une fascination sans borne pour les plantes en général,
        et la forêt en particulier. Et malgré les recommandations infinies de ses parents, elle y passait
        bien souvent de longues heures. Ses parents craignaient pour sa vie et pour sa vertu (toute forêt
        est infestée de bêtes sauvages et de brigands, c’est bien connu) et la mettaient bien souvent en garde.
        Elle ne les écoutait pas, bien entendu.
    </p>
    <p>
        Et un jour, elle fut enlevée par un coquin quelconque, qui la revendit comme esclave à un aubergiste
        ventripotent et parfois un peu trop amical. Las, Blanche avait son caractère, et fut bientôt connue
        dans toute la contrée pour ses piques acerbes et ses coups de couteau vicieux.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831125102-67eb7ae3.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        Son insolence plut à un riche bourgeois qui passait par là. Il avait perdu tous ses enfants, et en
        vint à apprécier sa compagnie. Il décida de la racheter et la considérait comme sa propre
        fille. Il lui confiait tous ses secrets, et ils étaient nombreux, sur la conduite de ses affaires et
        de la Ville, car il faisait partie du Grand Conseil.
    </p>
    <p>
        L’année de ses vingt ans, son «&nbsp;père&nbsp;» se rendit compte qu’elle n’était plus une enfant, et voulut lui
        faire part de ses bons sentiments. Elle refusa, il la jeta alors dans les geôles de la Ville. Elle
        y fut bientôt rejointe par un certain Limite, un peu éméché et beaucoup trop bruyant dans les rues, au
        dire des gardes. Ce fut le coup (de foudre) du siècle.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831120413-a510feed.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Et bientôt, Limite réalisa quelle perle il avait entre les mains. Elle en savait assez sur la Ville
        pour faire la richesse de la Compagnie. Limite, qui venait au départ pour conclure un contrat juteux de
        protection de la Ville, laissa tomber ce projet. Il voyait plus grand, il voulait cambrioler le trésor
        de la Ville, bien plus lucratif. Bientôt dégrisé, Limite parvint à
        les faire sortir tous deux de prison. Ils élaborèrent ensemble un plan extrêmement complexe et précis,
        au terme duquel ils furent pris sur le fait et jetés hors de la Ville (mansuétude qu’ils ne purent
        jamais expliquer).
    </p>
    <p>
        De retour au camp, Limite fit accepter facilement la nouvelle recrue (qui disposait de très bonnes
        connaissances des herbes et de solides pré-requis en combat). La perte du contrat fut acceptée un peu moins
        facilement… d’autant que la Compagnie dut fuir la Ville un peu rapidement. Mais en dehors de ce léger
        inconvénient, la Compagnie put par la suite se féliciter de compter Blanche dans ses rangs. C’est elle par
        exemple qui eut cette idée géniale des tentes&nbsp;! Autant dire qu’elle est devenue indispensable.
    </p>
{% endblock %}
