{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Rognepied, le guerrier
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110713-9388236a.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    combattant
{% endblock %}

{% block member_citation %}

{% endblock %}

{% block member_skill %}

{% endblock %}

{% block member_age %}

{% endblock %}

{% block member_size %}

{% endblock %}

{% block member_weight %}

{% endblock %}

{% block member_strongness %}

{% endblock %}

{% block member_weakness %}

{% endblock %}

{% block member_album %}22{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831132138-00434052.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Ce qui devait arriver arriva&nbsp;: la forte et virile amitié, et la légende naissante du couple
        Limite&nbsp;- Lech’goutte, attira à la Compagnie une publicité dont elle aurait pu se passer. Car
        loin de restaurer la gloire ancienne des compagnies franches, le succès ne leur apporta que des
        complications et des fourgons entiers de recrues toutes plus stupides et inutiles les unes que les
        autres. En tout cas, l’embauche se faisait de la manière la plus simple du monde&nbsp;: il suffisait
        de résister au barbare ou à Limite pendant plus d’une minute au combat. Fort peu réussissaient cette
        épreuve, qui du moins a eu le mérite de débarrasser la Terre de quelques spécimens trop faibles pour
        mériter de survivre.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831132416-c26d31a6.jpg'|popup_picture('float floatright') }}
    {% endautoescape %}
    <p>
        Mais revenons à nos moutons. Il arriva par un extraordinaire hasard qu’un quidam échoua (ce qui
        était fréquent), mais ne succomba pas au duel. Fort amoché, surtout à la tête (ce qui explique sans
        doute pas mal de choses…), il ne se laissa pourtant pas décourager. Abandonné à moitié mort après
        la levée du camp, sans même une goutte d’alcool pour étancher sa soif, il manqua périr (de
        l’infection de sa blessure ou d’inanition&nbsp;? Nul ne sait). Mais dès qu’il put poser un pied devant
        l’autre, il se lança sur les traces de la Compagnie, décidé à y entrer coûte que coûte.
    </p>
    <p>
        Car il raconte partout que son rêve de rejoindre la Compagnie l’a toujours soutenu dans sa vie
        terrible&nbsp;: abandonné à la naissance par sa mère à qui il faisait déjà peur, envoyé à l’orphelinat
        (où les prêtres lui firent subir les pires sévices), il s’enfuit pour devenir un bandit de la pire
        espèce, volant et assassinant sans remords pour assurer sa subsistance.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831122912-f4769cfb.jpg'|popup_picture('float floatleft') }}
    {% endautoescape %}
    <p>
        Après un méfait de trop, qui lui mit aux fesses toute l’armée du Royaume, il décida de réaliser son
        rêve et de rejoindre la Compagnie. Son échec était bien moins cruel que la perspective de finir ses
        jours en prison, avec son lot de tortures quotidiennes. Il attacha donc ses pas à ceux de la Compagnie.
        Malgré les multiples brimades du Barbare, qui trouvait tantôt amusant, tantôt énervant ce suiveur
        infatigable, il finit par faire partie du paysage. Et un beau soir de bataille, par négligence ou par
        besoin urgent, on lui remit enfin une armure et une épée.
    </p>
    <p>
        Il ne savait pas s’en servir, aussi fit-il perdre le combat presque à lui tout seul, sans compter les
        nombreux braves de son propre bord qu’il décima involontairement. Le Barbare manqua lui arracher la tête
        dans une juste colère, une fois tout le monde en sûreté. Mais finalement, le conflit fut réglé autour de
        cornes bien remplies, au cours d’une soirée de beuverie épique. Et depuis ce moment, il ne quitta plus la
        Compagnie. Il y prit le nom de Rognepied.
    </p>
{% endblock %}
