{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Tête de bois, le-repose-pierre-à-aiguiser
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824105052-bf8824fd.jpg'|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    esclave affranchi
{% endblock %}

{% block member_citation %}
    Moi bon travail&nbsp;!
{% endblock %}

{% block member_skill %}
    haubergier, archer, repose-pierre-à-aiguiser, cracheur de feu, amateur de coups de lames et de coups de pieds au c*l
{% endblock %}

{% block member_age %}
    [(celui de mon père - celui de ma mère)&nbsp;x (le nombre de mes soeurs)]&nbsp;+ le jour de ma date d'anniversaire&nbsp;= "V’là les flics&nbsp;!"
{% endblock %}

{% block member_size %}
    crayon
{% endblock %}

{% block member_weight %}
    une cotte de maille&nbsp;+ gambison&nbsp;+ 5 litres de bière&nbsp;+ une paire de Rangers
{% endblock %}

{% block member_strongness %}
    si seulement j'en avais un…
{% endblock %}

{% block member_weakness %}
    si seulement j'en avais qu’un…
{% endblock %}

{% block member_album %}29{% endblock %}

{% block member_story %}
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831130626-fb30ba88.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        On raconte que Tête de Bois serait né dans une mine de sel, quelque part dans la région Scythe, d’un père
        mineur et d’une mère caravanière. N’ayant jamais connu sa mère qui fut un amour de passage, il dut déverser
        toute son affection sur son père qui, hélas, passait son temps à extraire le sel dans des conditions
        horribles. Mais un jour, par malheur, son père mourut écrasé par un énorme bloc de roche qui se décrocha
        dans la mine, rendant Tête de Bois orphelin.
    </p>
    <p>
        Ce fut le début d’une itinérance longue et pénible, et c’est sans le sou qu’il se résolut à devenir un
        bandit des steppes. Non armé, sans monture, sa nouvelle carrière de détrousseur s’annonçait rûdasse…
        Alors, pour survivre seul dans ce chaos, il se fabriqua sa cotte de mailles et apprit à manier l’arc avec
        une précision redoutée (surtout de lui-même, tant elle est mauvaise).
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/31/20110831123111-6f5a640f.jpg'|popup_picture('floatleft') }}
    {% endautoescape %}
    <p>
        Il parcourut les steppes gelées de l’Est en direction des riches citées de l’Ouest qui accueillaient les grandes
        caravanes remplies de pierres précieuses, d’épices et de soieries. Mais un jour, après avoir attaqué une caravane,
        il se rendit compte que le sac qu’il avait dérobé contenait&nbsp;? Une femme&nbsp;! Une belle donzelle aux cheveux
        blonds répondant au doux nom de… Klakhös…&nbsp;? Klakôs…&nbsp;? Euh, non, Khlakös&nbsp;! Enfin, ça n’a pas
        d’importance, vu que Tête de Bois ne sait pas écrire.
    </p>
    <p>
        Malgré cette rencontre aussi brutale qu’inattendue, ils sympathisèrent et se trouvèrent beaucoup de points
        communs&nbsp;: tous les deux tireurs à l’arc, ils affectionnent les mets raffinés (pâté de taupe, terrine de
        hérisson…). Tête de Bois lui déclara alors sa flamme lors d’une nuit sans lune et ils passèrent leur nuit
        de noces à écouter hurler les loups dans les montagnes, et à manger du fromage de chèvre tout en buvant du
        vin.
    </p>
    {% autoescape false %}
    {{ 'http://www.compagniefranchedukhatovar.fr/piwigo/upload/2011/08/24/20110824110855-ba19423a.jpg'|popup_picture('floatright') }}
    {% endautoescape %}
    <p>
        C'est désormais à deux qu’ils allaient écumer la Steppe à la recherche de caravanes à attaquer ; mais un
        jour, une attaque tourna mal et c’est sous une pluie de flèches qu’ils s’enfuirent vers des cieux plus
        cléments. C’est après une folle chevauchée vers l’Ouest que Tête de Bois rencontra Limite, le Capitaine,et
        lui vendit plus sa motivation que ses réels talents. Il ne tardera pas à sympathiser avec les mercenaires
        de la Compagnie, notamment Rognepied qui lui fracassa une épée d’entraînement en bois sur le crâne (ce qui
        lui donnera son nom, «&nbsp;Tête de Bois&nbsp;») dans un «&nbsp;chtoc&nbsp;» caractéristique du néant sidéral qui se trouve
        entre ses oreilles. Puis Rognepied renouvela l’exploit en lui ouvrant le crâne d’un coup de Claymore lors
        d’un tournoi.
    </p>
    <p>
        Mais personne ne trouva cependant judicieux de l’appeler «&nbsp;Tête d’acier&nbsp;», d’autant plus que dorénavant, le
        forgeron se sert de lui comme table afin de reposer sa pierre pour aiguiser ses lames&nbsp;!
    </p>
{% endblock %}
