{% extends 'KhatovarWebBundle:Default:membres-layout.html.twig' %}

{% block member_name %}
    Varna, du clan Ux, du peuple picte
{% endblock %}

{% block member_picture %}
    {% autoescape false %}
    {{ asset('bundles/khatovarweb/photos/trombi/viviane.jpg')|popup_picture('photo') }}
    {% endautoescape %}
{% endblock %}

{% block member_rank %}
    Bestiole sauvage «&nbsp;apprivoisée&nbsp;»
{% endblock %}

{% block member_citation %}
    Ça va PICTER&nbsp;!
{% endblock %}

{% block member_skill %}

{% endblock %}

{% block member_age %}
    un quart de siècle&nbsp;–&nbsp;le 25e de la moitié du quart d'un millénaire (+1 à chaque année qui passe)
{% endblock %}

{% block member_size %}
    l’épée du barbare&nbsp;-&nbsp;25 cm
{% endblock %}

{% block member_weight %}
    la moitié de celui du barbare
{% endblock %}

{% block member_strongness %}
    Hein&nbsp;?
{% endblock %}

{% block member_weakness %}
    Euh… Attends que j’réfléchisse
{% endblock %}

{% block member_album %}0{% endblock %}

{% block member_story %}
    <p>
        Loin au nord, par delà la grande mer et le mur, s’étendent des landes brûlées par le vent. C’est ici, perdu entre monts brumeux et forêts profondes, que naissent les légendes gravées sur les pierres levées. Sur cette terre sauvage vivent des êtres mystérieux aux visages peints de bleu. Ils glissent, telles des ombres, dans le brouillard, ne laissent aucune trace derrière eux si ce n’est celle du sang de leurs ennemis. C’est ici qu’est né Varna…
    </p>
    <p>
        Dans ces tribus perdues aux confins du monde, on ne vit pas, on survit. C’était mal parti pour Varna, trop chétive pour honorer ces glorieux ancêtres, le clan tenta plusieurs fois de l’abandonner en forêt. Malheureusement la sale gosse revenait toujours leur traîner dans les pattes et réclamer sa maigre pitance. Instinct animal surdéveloppé ou Petit Poucet, jamais personne ne sut son secret. Finalement, les guerriers de son clan daignèrent enfin lui apprendre quelques rudiments de l’archerie et du combat, autant qu’elle serve à quelque chose... Elle se révéla être une guerrière particulièrement acharnée et sauvage, ses longs séjours dans le froid de la forêt ayant réduit son esprit à un état de profonde animalité. La bête sauvage grandissant avec la gamine, ils décidèrent de la chasser pour de bon, intenable vous dis-je&nbsp;!!!
    </p>
    <p>
        Petite Varna reprit donc le mystérieux chemin de la forêt et, à vrai dire, la vie forestière n’était pas si mal… Elle échappait ainsi aux corvées de la tribu comme la vaisselle ou la couture&nbsp;! Elle suivit son chemin, disputant leurs carcasses aux loups et renards du coin, s’abritant dans les tanières abandonnées. Descendant peu à peu vers le Sud, elle se heurta un jour à la civilisation. C’était bien plus pratique de chiper les réserves des fermiers la nuit. Hélas, ces exploits lui valurent une réputation quelque peu exagérée (une bête puante de cinq pieds de haut hantait les bois et terrorisait les paysans) attirant des héros en quête d’exploits. Aucun ne réussit à l’attraper, en armure, ils étaient bien moins souples et rapides qu’elle. Ceux qui l’approchèrent d’assez près ne se souviennent que d’une bête bleue couverte de fourrure émergeant du brouillard en crachant et griffant. Elle se crut tirée d’affaire et recommença à se battre avec les lapins et à se promener en sifflotant parmi les arbres.
    </p>
    <p>
        Mais un jour qu’elle marchait ainsi tranquillement, elle se retrouva, sans comprendre comment, suspendue à une branche par un pied, la tête en bas. Aussitôt, un gros bonhomme jaillit d’un buisson et l’assomma proprement. Quand elle reprit connaissance, Varna se sentit sérieusement barbouillée, un énorme paquet d’eau salée vint balayer l’espace exigu dans lequel elle se trouvait, s’insinuant sans vergogne entre les barreaux métalliques qui l’entouraient. Avant même de comprendre ce qui lui arrivait, Varna était trempée et glacée, grelottant dans sa cage mal arrimée sur le pont d’un navire, lui-même ballotté par les vagues d’une violente tempête. Varna préféra s’évanouir. À son réveil, le curieux bonhomme était accroupi devant elle&nbsp;: «&nbsp;Åh, øn se réveille enfin&nbsp;! Øn årrive bientøt. Il vå fålløir être plus åttråctive que çå, lå bestiøle&nbsp;!&nbsp;» lui intima-t-il. «&nbsp;Grrrrr…&nbsp;» répondit Varna, mal réveillée. Et comme il approchait sa main pour la secouer, elle le mordit au sang. «&nbsp;Åh&nbsp;! Såle bête tu vås me påyer çå !!!&nbsp;»
    </p>
    <p>
        Revenue sur la terre ferme et définitivement réveillée, Varna manqua devenir folle, enfermée dans sa cage. Elle hurlait, se jetait contre les barreaux, tapait des poings, mordait les passants imprudents… Elle fut vendue à un marchand, trimbalée d’ouest en est comme bête de foire ou guerrière dans des combats miteux où, pour le malheur de son propriétaire, elle survivait toujours (increvables ces bêtes là AH&nbsp;!). Un jour lors d’un combat à la foire aux bestiaux de Montélimar, un capitaine s’amusa à mettre en jeu «&nbsp;l’affreux petit chat sauvage bleu&nbsp;» dans un pari… Perdu&nbsp;! Et c’est depuis ce jour que la Compagnie se coltine Varna. Mais pour l’apprivoiser, ce fut une autre histoire. C’est le Barbare qui s’en charge, bref... ÇA VA PICTER&nbsp;!
    </p>
{% endblock %}
