{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% block inarticle %}
    <p>
        Vous trouverez ici toutes les fêtes médiévales où vous pourrez nous rencontrer durant la <strong>saison {{ date('+3months')|date('Y') }}</strong>.
    </p>
    <p>
        Nous mettons à jour régulièrement cette page au fur et à mesure des réponses des organisateurs.
    </p>

    <h1>
        Fêtes des gueux, Chinon (Indre-et-Loire), 2 août
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43398.724762254395!2d0.24325549999999516!3d47.16920700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fd418161944fab%3A0x6a71743c76ccc047!2sChinon!5e0!3m2!1sfr!2s!4v1400575964901" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <a href="http://www.chinon.com/actualites_det.aspx?ID=52" rel="external" title="">L’annonce de la fête sur le site de la mairie de Chinon.</a>
        </div>
    </div>

    <h1>
        Les médiévales du Coudray Salbart, Échiré (Deux-Sèvres), 15-18 août
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2751.0953512063106!2d-0.4263210000000061!3d46.40716500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48073baefda30e01%3A0x87d5b77297c303ed!2sCoudray-Salbart!5e0!3m2!1sfr!2s!4v1400576833463" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <a href="http://www.coudraysalbart.fr/index.php/animations/informations#medievales" rel="external" title="">L’annonce de la fête sur le site de l’association du chateau.</a>
        </div>
    </div>

    <h1>
        Fête médiévale de l’île Saint-Aubin, Angers (Maine-et-Loire), 31 août
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d43121.15085660895!2d-0.5505733663627375!3d47.507990405885735!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4808796d9a8f45f7%3A0xf0d37531cab0f30!2s%C3%8Ele+Saint-Aubin!5e0!3m2!1sfr!2s!4v1400576955585" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <a href="http://www.angers.fr/vie-pratique/vie-quotidienne/environnement/la-maison-de-l-environnement/ile-saint-aubin/index.html" rel="external" title="">La page de l'île Saint-Aubin.</a>
        </div>
    </div>

    <h1>
        Fête de l’artisanat, Montreuil-Juigné (Maine-et-Loire), 7 septembre
    </h1>
    <div class="container flex-container">
        <div class="programmation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43092.83230523953!2d-0.624715446986405!3d47.54245035168931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48087c2989365675%3A0x3c77abb884d118e2!2sMontreuil-Juign%C3%A9!5e0!3m2!1sfr!2s!4v1400577001752" width="300" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="programmation">
            <a href="http://www.ville-montreuil-juigne.fr/accueil/" rel="external" title="">Le site de la ville de Montreuil-Juigné.</a>
        </div>
    </div>
{% endblock %}
