{% extends 'KhatovarWebBundle::layout.html.twig' %}

{% form_theme form 'KhatovarWebBundle:form:fields.html.twig' %}

{% block inarticle %}
    <a href="{{ path('khatovar_web_member') }}">Retour à la liste des pages de membre</a>
    <hr />

    <h1>Création d'une nouvelle page de membre</h1>

    {% include 'KhatovarWebBundle:Member:_form.html.twig' with {'form': form} %}
{% endblock %}
