/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CUSTOM FONTS */

@font-face {
    font-family: 'DarkCrystal';
    src: url('../bundles/khatovarweb/fonts/darkcristal-webfont.eot');
    src: url('../bundles/khatovarweb/fonts/darkcristal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bundles/khatovarweb/fonts/darkcristal-webfont.woff') format('woff'),
         url('../bundles/khatovarweb/fonts/darkcristal-webfont.ttf') format('truetype'),
         url('../bundles/khatovarweb/fonts/darkcristal-webfont.svg#DarkCrystal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kingthings_light';
    src: url('../bundles/khatovarweb/fonts/Kingthings_Petrock_light-webfont.eot');
    src: url('../bundles/khatovarweb/fonts/Kingthings_Petrock_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bundles/khatovarweb/fonts/Kingthings_Petrock_light-webfont.woff') format('woff'),
         url('../bundles/khatovarweb/fonts/Kingthings_Petrock_light-webfont.ttf') format('truetype'),
         url('../bundles/khatovarweb/fonts/Kingthings_Petrock_light-webfont.svg#kingthings_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kingthings_regular';
    src: url('../bundles/khatovarweb/fonts/Kingthings_Petrock-webfont.eot');
    src: url('../bundles/khatovarweb/fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bundles/khatovarweb/fonts/Kingthings_Petrock-webfont.woff') format('woff'),
         url('../bundles/khatovarweb/fonts/Kingthings_Petrock-webfont.ttf') format('truetype'),
         url('../bundles/khatovarweb/fonts/Kingthings_Petrock-webfont.svg#kingthings_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MAIN ELEMENTS */

body {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: kingthings_light, "Bitstream Vera Sans","Lucida Grande", sans-serif;
    background: url("../bundles/khatovarweb/images/boisclair.jpg");
    font-size: 100%;
    text-align: justify;
}

@media all and (max-width: 990px) {
    body {
        margin: 10px;
        background: url("../bundles/khatovarweb/images/scroll_center.png");
    }
}

.page_block {
    margin: auto;
    width: 950px;
}

@media all and (max-width: 990px) {
    .page_block {
        width: auto;
        min-width: 320px;
    }
}

/* HEADER */

header {
    background: url("../bundles/khatovarweb/images/header.png");
    height: 168px;
}

@media all and (max-width: 990px) {
    header {
        background: none;
        height: auto;
    }
}

#main_title {
    display: none;
}

@media all and (max-width: 990px) {
    #main_title {
        display: inline-block;
    }
}

header h1 {
    font-family: DarkCrystal, Sans-serif;
    font-size: 2.5em;
    text-align: left;
}

#logo, header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#logo {
    width: 100px;
}

/* NAVIGATION */

nav {
    background: url("../bundles/khatovarweb/images/nav.png");
    height: 70px;
}

nav a.button {
    display: none;
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

nav a:hover {
    color: yellow;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding-top: 8px;
}

nav li {
    float: left;
}

nav li ul {
    position: absolute;
    display: none;
}

nav li ul li {
    position: relative;
    top: 5px;
    float: none;
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    background: url("../bundles/khatovarweb/images/menu.png");
    border-bottom: 1px solid white;
    z-index: 11000;
}

nav li:hover ul, nav li.sfhover ul {
    display: block;
}

@media all and (max-width: 990px) {
    nav {
        background: none;
        padding: 0;
    }

    nav li ul li {
        display: none;
    }

    nav a {
        color: #AC3333;
    }

    nav a:hover {
        color: #936f00;
    }
}

/* CORE TEXT */

section {
    padding-bottom: 20px;
    background: url("../bundles/khatovarweb/images/scroll.png");
}

article {
    padding-left: 60px;
    padding-right: 60px;
}

aside.edit {
    background: url("../bundles/khatovarweb/images/scroll_center.png");
    padding: 10px;
    width: 250px;
    height: 500px;
    position: fixed;
    left: 20px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #696969;
}

aside .photo_title {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

article ul {
    list-style: inherit;
}

@media all and (max-width: 990px) {
    section, article {
        padding: 0;
    }

    section {
        background: none;
    }

    aside {
        display: none;
    }
}

.container {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.flex-container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
}

.flex-container-always {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
}

.navigation {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 33%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: inline-block;
}

.programmation {
    display: inline-block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 40%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.photo_exactions {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.exactions {
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 60%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.note_exaction {
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 80%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.photo_link {
    position: relative;
    top: 150px;
    left: 300px;
}

@media all and (max-width: 990px) {
    .flex-container {
        display: inherit;
    }

    .programmation {
        display: inherit;
        margin: 0;
        width: 100%;
    }

    .photo_exactions {
        display: inherit;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .exactions {
        display: inherit;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .note_exaction {
        display: inherit;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .photo_link {
        position: inherit;
    }

    .container {
        position: inherit;
    }
}

h1 {
    font-family: kingthings_regular, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 1em;
}

h2 {
    font-family: kingthings_regular, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

article a, footer a {
    text-decoration: none;
    font-weight: bold;
}

article a:link, footer a:link {color: #AC3333;}
article a:visited, footer a:visited {color: #AC3333;}
article a:hover, footer a:hover {color: #936f00;}
article a:active, footer a:active {color: #AC3333;}

*.clickable {
    cursor: pointer;
}

.link_list {
    padding: 20px 0 20px 0;
    text-align: center;
}

/* FOOTER */

footer {
    height: 144px;
    background-image: url("../bundles/khatovarweb/images/scroll_foot.png");
    text-align: center;
}

.footer-text {
    padding-top: 40px;
}

.copyright {
    font-family: "Bitstream Vera Sans","Lucida Grande", sans-serif;
}

@media all and (max-width: 990px) {
    footer {
        background: none;
    }
}

/* PICTURES */

img {
    border: 0;
    width: 100%;
}

article img {
    margin: 10px;
}

@media all and (max-width: 990px) {
    img {
        width: 100%;
    }
}

.photolink {
    width: 50px;
}

.photo {
    border: 2px #777 solid;
    text-align: center;
    padding: 2px;
    max-width: 250px;
    margin-right: 20px;
    margin-left: 20px;
}

.photo_over {
    text-align: center;
    border: 2px #F00 solid;
    padding: 2px;
    max-width: 250px;
    margin-right: 20px;
    margin-left: 20px;
}

.slide {
    border: 2px #777 solid;
    padding: 2px;
    width: auto;
    max-width: 450px;
    max-height: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.slide_over {
    border: 2px #F00 solid;
    padding: 2px;
    width: auto;
    max-width: 450px;
    max-height: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

@media all and (max-width: 990px) {
    .slide {
        max-width: 360px;
        max-height: 240px;
    }

    .slide_over {
        max-width: 360px;
        max-height: 240px;
    }
}

.photo_small {
    border: 2px #777 solid;
    text-align: center;
    padding: 2px;
    max-width: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

.photo_small_over {
    text-align: center;
    border: 2px #F00 solid;
    padding: 2px;
    max-width: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

.panorama {
    border: 2px #777 solid;
    text-align: center;
    padding: 2px;
    max-width: 700px;
}

.panorama_over {
    text-align: center;
    border: 2px #F00 solid;
    padding: 2px;
    max-width: 700px;
}

/* FLOATING */

.floatright {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    width: inherit;
    max-width: 220px;
    max-height: 220px;
    border: 2px #777 solid;
    text-align: center;
    padding: 2px;
}

.floatright_over {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    width: inherit;
    max-width: 220px;
    max-height: 220px;
    border: 2px #F00 solid;
    text-align: center;
    padding: 2px;
}

.floatleft {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: inherit;
    max-width: 220px;
    max-height: 220px;
    border: 2px #777 solid;
    text-align: center;
    padding: 2px;
}

.floatleft_over {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: inherit;
    max-width: 220px;
    max-height: 220px;
    border: 2px #F00 solid;
    text-align: center;
    padding: 2px;
}

/* PORTRAITS */

.trombi {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.trombinoscope {
    margin: 0;
}

.thumbnail
{
    margin: 20px;
    width: 100px;
    padding: 5px;
    border: 2px #777 solid;
    cursor:auto;
    text-align: center;
}

.thumbnailover
{
    margin: 20px;
    width: 100px;
    padding: 5px;
    border: 2px #F00 solid;
    cursor:pointer;
    text-align: center;
}

.thumbnail_pays
{
    margin: 20px;
    width: 150px;
    padding: 5px;
    border: 2px #777 solid;
    cursor:auto;
    text-align: center;
}

.thumbnailover_pays
{
    margin: 20px;
    width: 150px;
    padding: 5px;
    border: 2px #F00 solid;
    cursor:pointer;
    text-align: center;
}

.carte {
    border: 2px #777 solid;
    text-align: center;
    padding: 2px;
    cursor:auto;
    max-width: 750px;
}

.carte_over {
    border: 2px #F00 solid;
    text-align: center;
    padding: 2px;
    cursor:pointer;
    max-width: 750px;
}

/* Preload images */
body:after {
  content: url(../bundles/khatovarweb/img/close.png) url(../bundles/khatovarweb/img/loading.gif) url(../bundles/khatovarweb/img/prev.png) url(../bundles/khatovarweb/img/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../bundles/khatovarweb/img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../bundles/khatovarweb/img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../bundles/khatovarweb/img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../bundles/khatovarweb/img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
